<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="教育,积木,编程,儿童,幼儿,学习,图形化" />
    <meta name="description" content="图形化编程" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Pupy Code</title>
    <link rel="icon" href="<%= context.config.publicPath +'doge.gif'%>" type="image/x-icon" />
  </head>
  <body>
    <noscript>
      服务端故障！
    </noscript>
    <div id="root"></div>
  </body>
</html>
